[{{ rclone_remote_name }}]
type = {{ rclone_type_storage }}
env_auth = {{ rclone_env_auth }}
access_key_id = {{ rclone_access_key_id }}
secret_access_key = {{ rclone_secret_access_key }}
region = {{ rclone_region }}
endpoint = {{ rclone_endpoint }}
location_constraint = {{ rclone_location_constraint }}