[{{ rclone_remote_name }}]
type = {{ rclone_type_storage }}
user = {{ rclone_user }}
key = {{ rclone_key }}
auth = {{ rclone_url_auth }}
domain = {{ rclone_domain }}
tenant = {{ rclone_tenant }}
tenant_domain = {{ rclone_tenant_domain }}
region = {{ rclone_region }}
storage_url = {{ rclone_storage_url }}
auth_version = {{ rclone_auth_version }}
